#title {
    background-color: #FDF0F0;
  }
  
  .container-fluid {
    padding: 3% 5%; 
  }
  
  .navbar {
    padding-left: 70px; 
  }
  
  * {
    font-family: "Anta", sans-serif;
  }

  .head-h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: left;
    padding-top: 100px;
    padding-left: 50px; 
  }

  .head-p{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  padding-top: 160px;
  padding-left: 50px;
  }
  
  .mobile-img {
    width: 100%;
    border-radius: 1%;
    z-index: -1;
  }
  
  .button-btn {
    padding-top: 20px;
    margin-right: 50rem ; 
    margin-left: auto; 
    text-align: center; 
  }
  
  .btn {
    padding: 10px 20px; 
  }
  
  #features {
    background-color: #F7DED0;
    padding: 20px;
  }
  
  /* detail */
  .detail {
    background: var(#F7DED0);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .detail-item {
    flex: 1;
    max-width: 100%;
    margin: 20px 0; 
    background: #F7DED0;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  margin: 2rem 0;
  padding: 3.5rem 1.5rem;
  border-radius: 4px;
  transition: var(--transition);
  }
  .detail-item:hover{
    -webkit-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    -moz-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    transform: translateY(-5px);
  }
  
  .icon-img {
    width: 5rem; 
    height: 5rem; 
    margin-bottom: 10px;
    float: left; 
  }
  
  .detail-item h2 {
    font-size: 1.2rem; 
    color: rgb(83, 83, 196);
  }
  
  .line {
    width: 30px; 
  }
  
  #testimonials {
    background-color: #FDF0F0;
    padding: 20px;
    text-align: center;
  }
  
  .protext {
    font-size: 1.2rem; 
  }
  
  .test-img {
    text-align: center;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
  }
  
  .em-test {
    margin-left: 3%;
    margin-top: 10px; 
  }
  
  #press {
    background-color: #F7DED0;
    text-align: center;
    padding: 20px;
  }
  #press-h1{
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 300;
    text-align: center;
  }
  .press-img{
    width: 200px;
    padding-bottom: 30px;
    margin: 2%;
  }

  #pricing {
    background-color: #FDF0F0;
    padding: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column; 
    background-color: #F7DED0;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px; 
  }
  
  #cta {
    background-color: #F7DED0;
    padding: 20px;
  }
  
  .cta-h3 {
    font-size: 1.2rem; 
  }
  
  #footer {
    background-color: #F7DED0;
    text-align: center; 
    padding: 20px;
  }
  
  .foot-p {
    margin: 0; 
  }
  